<p id="notice"><%= notice %></p>

<h1>Listing Spaces</h1>


<%= form_for_filterrific @filterrific, html: { id: 'filterrific-no-ajax-auto-submit' }  do |f| %>

  Search for a space, keyword or tag
  <div>
    
      <%= text_field_tag("filters[search_query]") %>
      <br>
  </div>

  Noise levels
  <div>
    <% @filterrific.select_options[:with_noise_ids].each do |noise, id| %>
      <%= check_box_tag("filters[with_noise_ids][]", id) %>
      <%=h noise %>
      <br>
    <% end %>
  </div>
  
  Atmosphere
  <div>
    <% @filterrific.select_options[:with_atmosphere].each do |atmosphere| %>
      <%= check_box_tag("filters[#{atmosphere}]", "true") %>
      <%=h atmosphere %>
      <br>
    <% end %>
  </div>

  Facilities
  <div>
    <% @filterrific.select_options[:with_facility].each do |facility| %>
      <%= check_box_tag("filters[#{facility}]", "true") %>
      <%=h facility %>
      <br>
    <% end %>
  </div>
  
  Tags
  <div>
    <% @filterrific.select_options[:with_tags].each do |tag, id| %>
      <%= check_box_tag("filters[with_tag_names][]", tag) %>
      <%=h tag %>
      <br>
    <% end %>
  </div>
  
  <%= f.submit 'Filter' %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Address</th>
      <th>Floor</th>
      <th>Lat</th>
      <th>Lng</th>
      <th>Opening hours</th>
      <th>Restricted</th>
      <th>Restriction</th>
      <th>Disabled access</th>
      <th>Url</th>
      <th>Phone number</th>
      <th>Twitter screen name</th>
      <th>Facebook url</th>
      <th>Atmosphere disciplined</th>
      <th>Atmosphere relaxed</th>
      <th>Atmosphere historic</th>
      <th>Atmosphere modern</th>
      <th>Atmosphere inspiring</th>
      <th>Atmosphere cosy</th>
      <th>Atmosphere social</th>
      <th>Atmosphere friendly</th>
      <th>Facility food drink</th>
      <th>Facility daylight</th>
      <th>Facility views</th>
      <th>Facility large desks</th>
      <th>Facility free wifi</th>
      <th>Facility no wifi</th>
      <th>Facility computers</th>
      <th>Facility laptops allowed</th>
      <th>Facility sockets</th>
      <th>Facility signal</th>
      <th>Facility printers copiers</th>
      <th>Facility whiteboards</th>
      <th>Facility projector</th>
      <th>Facility outdoor seating</th>
      <th>Facility bookable</th>
      <th>Facility toilets</th>
      <th>Facility refreshments</th>
      <th>Facility break</th>
      <th>Expensive</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @spaces.each do |space| %>
      <tr>
        <td><%= space.name %></td>
        <td><%= space.description %></td>
        <td><%= space.address %></td>
        <td><%= space.floor %></td>
        <td><%= space.lat %></td>
        <td><%= space.lng %></td>
        <td><%= space.opening_hours %></td>
        <td><%= space.restricted %></td>
        <td><%= space.restriction %></td>
        <td><%= space.disabled_access %></td>
        <td><%= space.url %></td>
        <td><%= space.phone_number %></td>
        <td><%= space.twitter_screen_name %></td>
        <td><%= space.facebook_url %></td>
        <td><%= space.atmosphere_disciplined %></td>
        <td><%= space.atmosphere_relaxed %></td>
        <td><%= space.atmosphere_historic %></td>
        <td><%= space.atmosphere_modern %></td>
        <td><%= space.atmosphere_inspiring %></td>
        <td><%= space.atmosphere_cosy %></td>
        <td><%= space.atmosphere_social %></td>
        <td><%= space.atmosphere_friendly %></td>
        <td><%= space.facility_food_drink %></td>
        <td><%= space.facility_daylight %></td>
        <td><%= space.facility_views %></td>
        <td><%= space.facility_large_desks %></td>
        <td><%= space.facility_free_wifi %></td>
        <td><%= space.facility_no_wifi %></td>
        <td><%= space.facility_computers %></td>
        <td><%= space.facility_laptops_allowed %></td>
        <td><%= space.facility_sockets %></td>
        <td><%= space.facility_signal %></td>
        <td><%= space.facility_printers_copiers %></td>
        <td><%= space.facility_whiteboards %></td>
        <td><%= space.facility_projector %></td>
        <td><%= space.facility_outdoor_seating %></td>
        <td><%= space.facility_bookable %></td>
        <td><%= space.facility_toilets %></td>
        <td><%= space.facility_refreshments %></td>
        <td><%= space.facility_break %></td>
        <td><%= space.expensive %></td>
        <td><%= link_to 'Show', space %></td>
        <td><%= link_to 'Edit', edit_space_path(space) %></td>
        <td><%= link_to 'Destroy', space, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Space', new_space_path %>
