<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @space.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @space.description %>
</p>

<p>
  <strong>Access:</strong>
  <%= @space.try(:access).try(:title) %>
</p>

<p>
  <strong>Space type:</strong>
  <%= @space.try(:space_type).try(:title) %>
</p>

<p>
  <strong>In Library:</strong>
  <%= @space.try(:library).try(:name) %>
</p>

<p>
  <strong>Address:</strong>
  <%= @space.address %>
</p>

<p>
  <strong>Floor:</strong>
  <%= @space.floor %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @space.lat %>
</p>

<p>
  <strong>Lng:</strong>
  <%= @space.lng %>
</p>

<p>
  <strong>Opening hours:</strong>
  <%= @space.opening_hours %>
</p>

<p>
  <strong>Restricted:</strong>
  <%= @space.restricted %>
</p>

<p>
  <strong>Restriction:</strong>
  <%= @space.restriction %>
</p>

<p>
  <strong>Disabled access:</strong>
  <%= @space.disabled_access %>
</p>

<p>
  <strong>Url:</strong>
  <%= @space.url %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @space.phone_number %>
</p>

<p>
  <strong>Twitter screen name:</strong>
  <%= @space.twitter_screen_name %>
</p>

<p>
  <strong>Facebook url:</strong>
  <%= @space.facebook_url %>
</p>

<p>
  <strong>Atmosphere disciplined:</strong>
  <%= @space.atmosphere_disciplined %>
</p>

<p>
  <strong>Atmosphere relaxed:</strong>
  <%= @space.atmosphere_relaxed %>
</p>

<p>
  <strong>Atmosphere historic:</strong>
  <%= @space.atmosphere_historic %>
</p>

<p>
  <strong>Atmosphere modern:</strong>
  <%= @space.atmosphere_modern %>
</p>

<p>
  <strong>Atmosphere inspiring:</strong>
  <%= @space.atmosphere_inspiring %>
</p>

<p>
  <strong>Atmosphere cosy:</strong>
  <%= @space.atmosphere_cosy %>
</p>

<p>
  <strong>Atmosphere social:</strong>
  <%= @space.atmosphere_social %>
</p>

<p>
  <strong>Atmosphere friendly:</strong>
  <%= @space.atmosphere_friendly %>
</p>

<p>
  <strong>Noise:</strong>
  <%= @space.try(:noise).try(:title) %>
</p>

<p>
  <strong>Facility food drink:</strong>
  <%= @space.facility_food_drink %>
</p>

<p>
  <strong>Facility daylight:</strong>
  <%= @space.facility_daylight %>
</p>

<p>
  <strong>Facility views:</strong>
  <%= @space.facility_views %>
</p>

<p>
  <strong>Facility large desks:</strong>
  <%= @space.facility_large_desks %>
</p>

<p>
  <strong>Facility free wifi:</strong>
  <%= @space.facility_free_wifi %>
</p>

<p>
  <strong>Facility no wifi:</strong>
  <%= @space.facility_no_wifi %>
</p>

<p>
  <strong>Facility computers:</strong>
  <%= @space.facility_computers %>
</p>

<p>
  <strong>Facility laptops allowed:</strong>
  <%= @space.facility_laptops_allowed %>
</p>

<p>
  <strong>Facility sockets:</strong>
  <%= @space.facility_sockets %>
</p>

<p>
  <strong>Facility signal:</strong>
  <%= @space.facility_signal %>
</p>

<p>
  <strong>Facility printers copiers:</strong>
  <%= @space.facility_printers_copiers %>
</p>

<p>
  <strong>Facility whiteboards:</strong>
  <%= @space.facility_whiteboards %>
</p>

<p>
  <strong>Facility projector:</strong>
  <%= @space.facility_projector %>
</p>

<p>
  <strong>Facility outdoor seating:</strong>
  <%= @space.facility_outdoor_seating %>
</p>

<p>
  <strong>Facility bookable:</strong>
  <%= @space.facility_bookable %>
</p>

<p>
  <strong>Facility toilets:</strong>
  <%= @space.facility_toilets %>
</p>

<p>
  <strong>Facility refreshments:</strong>
  <%= @space.facility_refreshments %>
</p>

<p>
  <strong>Facility break:</strong>
  <%= @space.facility_break %>
</p>

<p>
  <strong>Work in private:</strong>
  <%= @space.work_private %>
</p>

<p>
  <strong>Work close to others:</strong>
  <%= @space.work_close %>
</p>

<p>
  <strong>Work alongside friends:</strong>
  <%= @space.work_friends %>
</p>

<p>
  <strong>Work in a group:</strong>
  <%= @space.work_group %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @space.tag_list.join(", ") %>

</p>

<p>
  <strong>Expensive:</strong>
  <%= @space.expensive %>
</p>

<%= link_to 'Edit', edit_space_path(@space) %> |
<%= link_to 'Back', spaces_path %>
