<!DOCTYPE html>
<html>
<head>
    <title>Spacefinder</title>
    <meta charset="utf-8" />
    <!--scripts-->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA70cwyy9WH6wgv7wrm-skrak2HCeIK2-U&libraries=geometry"></script>

    <!--styles-->
    <%= stylesheet_link_tag "home" %>
    <!--typekit-->
    <script type="text/javascript" src="//use.typekit.com/hyb5bko.js"></script>
    <script type="text/javascript">
    try {
        Typekit.load();
    } catch (e) {
    }</script>
    <!--viewport-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <%= csrf_meta_tags %>
</head>
<body>
    <nav id="top-bar">
        <a href="#/search" id="search-btn"><i class="icon-search"></i><span class="hidden">Search</span></a>
        <a href="#/list"><i class="icon-list"></i><span>List</span></a>
        <a href="#/map"><i class="icon-marker"></i><span>Map</span></a>
        <div class="large-nav">
            <!--a href="#">Contact</a><a>|</a-->
            <a href="/terms.html">Terms &amp; feedback</a>
        </div>
    </nav>

    <div id="search" class="view-container"></div>

    <div id="list" class="view-container"></div>
    <div id="map" class="view-container"></div>

    <div class="loading-cover">

        <i class="icon-loading"></i>
        <div class="logo"></div>
        <div class="message">Loading <span class="current-status">spacefinder</span></div>
    </div>

    <script type="text/javascript">
      <% if user_signed_in? then %>
        <%= render 'shared/user_details' %>
      <% else %>
        var userDetails = null;
      <% end %>
        var domain = '<%== escape_javascript @js_base_url.to_s %>';
    </script>

  <%= javascript_include_tag 'home' %>

  <script>
   (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
   (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
   m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
   })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

   ga('create', 'UA-67075266-1', 'auto');
   ga('send', 'pageview');

  </script>
</body>
</html>
