<p>You are now signed in!</p>
<script>
  var userDetails = {
    <% if !@user.nil? then %>
      "user" : {
        "id" : "<%= @user.id %>",
        "name" : "<%= @user.name %>",
        "email" : "<%= @user.email %>",
        "profile_image" : "<%= @user.profile_image %>"
      },
    <% end %>
    "details_needed": "<%= @details_needed %>",
    "status": "<%= @status %>"
  };
  
  if(window.opener && !window.opener.closed) {
    window.opener.loginCallback(userDetails);
    window.close();
  } else {
    window.location.href = "<%= @redirect_url %>";
  }
</script>