<!DOCTYPE html>
<html>
<head>
    <title><%= yield :title %></title>
    <%= stylesheet_link_tag "admin" %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <%= yield :javascripts %>
    
</head>
<body class="<%= yield :body_class %>">
  
  <nav id="top-bar">
    <div class="logout"><%= link_to('Logout', users_sign_out_path, :method => :delete) %></div>
  </nav>
  
  <%= yield %>
  
  <%= javascript_include_tag 'admin', 'data-turbolinks-track' => true %>
</body>
</html>